.about-page {
    
    .text-area {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height:90%;
    }

    h1 {
        color: #5a0001;
        font-size: 60px;
        margin: 0;
    }

    h2 {
        color:darkslategrey;
        font-size: 30px;
    }
}