.portfolio-page {
    
    .text-area {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-height:100%;
    }

    h1 {
        color: #5a0001;
        font-size: 60px;
        margin: 0;
    }

    h2 {
        color:darkslategrey;
        font-size: 30px;
    }
}

.btn-main-project {
    width: 20vw;
    height: 15vw;
    // background-image: url('./assets/images/crowded-house-bonanza.png');
    border: solid;
    border-color: silver;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;

}

.btn-project-2 {
    width: 20vw;
    height: 15vw;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.btn-project-3 {
    width: 20vw;
    height: 15vw;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.btn-project-4 {
    width: 20vw;
    height: 15vw;
    border: solid;
    border-color: silver;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
}