html {
  font-size: 63%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'IBM Plex Sans Condensed', 'sans-serif';
  color:aquamarine;
  background: salmon;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
