.home-page {
    
    .text-area {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height:90%;
    }

    h1 {
        color:black;
        font-size: 60px;
        margin: 0;
    }

    h2 {
        color:blue;
        font-size: 40px;
    }

    .flat-button {
        color: red;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family:sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid red;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 5px;

        &:hover {
            background: red;
            color:darkslategrey;
        }
    }
}